body{
    background-color: hsl(39, 77%, 23%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator{
    background-color: hsl(39, 77%, 63%);
    height: 700px;
    width: 480px;
    border: 5px solid hsl(39, 77%, 43%);
    box-shadow: inset 5px 5px 5px grey, 10px 10px 3px grey;
    border-radius: 20px;
}
#display{
    height: 100px;
    border-radius: 20px;
    width: 370px;
    margin: auto;
    font-weight: bold;
    font-family: monospace;
    overflow:auto;
    background-color: hsl(0, 0%, 95%);
    margin-top: 20px;
    border: none;
    box-shadow: inset 5px 5px 5px grey, 10px 10px 3px grey;
    display: block;
    align-items: center;
    font-size: 3em;
    word-wrap: break-word;
    padding: 25px;
}
.btn{
    border-radius: 20px;
    border: none;
    font-size: 2em;
    color: white;
    font-weight: bold;
    background-color: hsl(0, 0%, 15%);
    box-shadow:inset 3px 3px 1px rgb(211, 209, 209), 5px 5px grey;
    height: 80px;
    width: 80px;
}
#key{
    text-align: center;
    margin: 30px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}.btn:hover{
    background-color: hsl(0, 0%, 25%);
    transform: scale(1.05);
}
.btn:active{
    background-color: hsl(0, 0%, 35%);
    transform: scale(1.1);
}
#orange{
    background-color: rgb(187, 80, 58);
}
#orange:hover{
    background-color: hsl(10, 53%, 58%);
}